@media screen and (max-width: 300px) {
  html {
    font-size: 37.5%;
  }
  .buttons {
    gap: 0.16rem;
  }
}
@media screen and (min-width: 768px) {
  .calculator {
    width: 80vw;
    height: 85vh;
  }
  .output-value {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1088px) {
  main {
    background: linear-gradient(rgba(17, 17, 17, 0.15), rgba(45, 45, 46, 0.15)),
      url("../img/table-background.jpg"), no-repeat;
    background-size: cover;
    background-position: left;
  }
  .calculator {
    width: 30vw;
    height: 80vh;
    border-radius: 1rem;
    -webkit-box-shadow: 8px 5px 6px 2px rgba(0, 0, 0, 0.35),
      12px 13px 27px 10px rgba(0, 0, 0, 0.25),
      3px 23px 14px -3px rgba(0, 0, 0, 0.45);
    box-shadow: 8px 5px 6px 2px rgba(0, 0, 0, 0.35),
      12px 13px 27px 10px rgba(0, 0, 0, 0.25),
      3px 23px 14px -3px rgba(0, 0, 0, 0.45);
  }
  .equal-button {
    border-bottom-right-radius: 1rem;
  }
  .buttonplusminus {
    border-bottom-left-radius: 1rem;
  }
}
