$cultured: #f8f9fa;
$ultramarine: #4361ee;
$davysgray: #495057;
$gunmetal: #343a40;
$charleston: #212529;
$box-shadow-keys: 0 2px 5px rgba(0, 0, 0, 0.5),
  0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.25) inset,
  0 20px 0 rgba(255, 255, 255, 0.03) inset,
  0 -20px 20px rgba(0, 0, 0, 0.15) inset,
  0 20px 20px rgba(255, 255, 255, 0.05) inset;

@mixin flex($justify, $align, $dir) {
  display: grid;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
@mixin grid($cols, $rows) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
}
