* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.8rem;
}

p,
a,
li {
  font-size: 1.8rem;
}

i {
  pointer-events: none;
}

main {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  width: 100vw;
  height: 100vh;
  background: #495057;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-top: 0.15px solid #343a40;
  gap: 0.1rem;
}

.buttons button {
  width: 100%;
  height: 100%;
  color: #f8f9fa;
  border: none;
  outline: none;
}

.input-display {
  grid-area: 2/1/2/1;
}

.input-display,
.output-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  margin-right: 2rem;
}

#input-value {
  grid-area: 2/1/2/1;
  font-size: 3rem;
  text-align: right;
  margin-right: 2rem;
  border: none;
  outline: none;
  background: transparent;
  color: #f8f9fa;
  width: 100%;
}

#input-value::-webkit-outer-spin-button,
#input-value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input-value[type="number"] {
  -moz-appearance: textfield;
}

.output-value {
  grid-area: 2/1/2/1;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: rgba(248, 249, 250, 0.65);
  text-align: right;
  margin-top: 2rem;
}

.operator {
  background: #343a40;
  font-size: 1.6rem;
}

.operand,
.buttonplusminus {
  background: #212529;
  font-size: 1.6rem;
}

.key-percentage {
  grid-area: 1/1/1/2;
}

.key-ce {
  grid-area: 1/2/1/3;
}

.key-c {
  grid-area: 1/3/1/4;
}

.key-backspace {
  grid-area: 1/4/1/5;
}

.key-divide-by-x {
  grid-area: 2/1/2/2;
}

.key-square {
  grid-area: 2/2/2/3;
}

.key-square-root {
  grid-area: 2/3/2/4;
}

.key-division {
  grid-area: 2/4/2/5;
}

.key-multiplication {
  grid-area: 3/4/3/5;
}

.key-subtraction {
  grid-area: 4/4/4/5;
}

.key-addition {
  grid-area: 5/4/5/5;
}

.key-equal {
  grid-area: 6/4/6/5;
}

.key7 {
  grid-area: 3/1/3/2;
}

.equal-button {
  background: #4361ee;
}

.ce-button,
.c-button,
.fa-backspace {
  font-size: 1.3rem;
}

.sqr-button {
  position: relative;
}

.sqr-button .sqr {
  font-size: 1rem;
  top: 30%;
  left: 56%;
}

.key-divide-by-x {
  position: relative;
}

.key-divide-by-x .span-1 {
  font-size: 1.1rem;
  top: 30%;
  left: 40%;
}

.key-divide-by-x .span-x {
  font-size: 1.1rem;
  top: 43%;
  left: 53%;
}

.buttonplusminus {
  position: relative;
}

.buttonplusminus,
.buttonpoint {
  font-size: 2rem;
}

.percentage-button {
  position: relative;
}

.division-button,
.multiplication-button,
.subtraction-button,
.addition-button,
.equal-button {
  font-size: 1.8rem;
}

.buttons button {
  transition: all 100ms;
}

.buttons button:hover {
  background: rgba(73, 80, 87, 0.65);
}

.operand:focus {
  animation: buttonAnimationOperand 150ms;
}

.operator:focus {
  animation: buttonAnimationOperator 150ms;
}

.equal-button:focus {
  animation: buttonAnimationEqual 150ms;
}

.key-equal button:hover {
  background: #234af7;
}

@keyframes buttonAnimationOperand {
  0% {
    background: #212529;
    box-shadow: "";
  }
  50% {
    background: rgba(73, 80, 87, 0.85);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.25) inset, 0 20px 0 rgba(255, 255, 255, 0.03) inset, 0 -20px 20px rgba(0, 0, 0, 0.15) inset, 0 20px 20px rgba(255, 255, 255, 0.05) inset;
  }
  100% {
    background: #212529;
    box-shadow: "";
  }
}

@keyframes buttonAnimationOperator {
  0% {
    background: #343a40;
    box-shadow: "";
  }
  50% {
    background: rgba(52, 58, 64, 0.85);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.25) inset, 0 20px 0 rgba(255, 255, 255, 0.03) inset, 0 -20px 20px rgba(0, 0, 0, 0.15) inset, 0 20px 20px rgba(255, 255, 255, 0.05) inset;
  }
  100% {
    background: #343a40;
    box-shadow: "";
  }
}

@keyframes buttonAnimationEqual {
  0% {
    background: #4361ee;
    box-shadow: "";
  }
  50% {
    background: #4061f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 0 rgba(0, 0, 0, 0.25) inset, 0 20px 0 rgba(255, 255, 255, 0.03) inset, 0 -20px 20px rgba(0, 0, 0, 0.15) inset, 0 20px 20px rgba(255, 255, 255, 0.05) inset;
  }
  100% {
    background: #4361ee;
    box-shadow: "";
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 37.5%;
  }
  .buttons {
    gap: 0.16rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    background: #495057;
    background: linear-gradient(180deg, #495057 0%, #343a40 45%, #212529 100%);
  }
  .calculator {
    width: 80vw;
    height: 85vh;
  }
  .output-value {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1088px) {
  .calculator {
    width: 40vw;
    height: 90vh;
  }
}
/*# sourceMappingURL=style.css.map */